/*----------fonts----------*/
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}



/*content*/
html {
    font-size: 14px; 
}
body{
    color: #2d2d2d;
    display: block;
    font-size: 1rem;
    text-align: center;
}
h1 {
    display: none;
}



 /*Content*/


/*----------nav-header----------*/
.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.85rem 0;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 -25px 20px 20px lightgrey;
}
.logo {
    width: 132px;
    cursor: pointer;
    padding-left: 1rem;
}
.logo-wrap {
    flex-basis: 50%;
    text-align: left;
}
.cart {
    width: 53.5px;
    cursor: pointer;
    display: inline;
    padding-right: 1rem;
}
.cart-wrap {
    flex-basis: 50%;
    text-align: right;
}
.navbar {
    padding-top: 1rem;
    border-top: 1px solid #d7d7d7;
    margin: 0.3rem 1rem 0;
    flex: 1 0 auto;
}
.navbar li {
    display: inline-block;
    margin: 0 1.6rem;
    text-transform: uppercase;
}
.navbar li a {
    text-decoration: none;
    color: #e2574c;
    font-family: 'ralewaymedium';
}
.cart-counter {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #e2574c;
    color: white;
    border-radius: 50%;
    display: none;
    text-align: center;
    right: 0.5rem;
    top: 0.85rem;
}
#add-cart-text {
    padding-top: 0.15rem;
}



/*----------hero-banner----------*/
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/banner-girl.png) no-repeat center 53px, url(../images/flower-bkgd.jpg) repeat-x center bottom;
    background-size: cover, 153px auto, cover;
    height: 400px;
    margin-top: 116px;
}
.BG-content {
    width: 80%;
    margin: 0 auto;
}
.new-collection {
    color: white;
    font-family: 'ralewaymedium',sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    flex: 0 1 10%;
    margin-bottom: 1.6rem;
}
.ss-season {
    color: white;
    font-family: 'playfair', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}





/*----------about----------*/
#about {
    padding: 4.1rem 0.9rem;
}
.about-header {
    font-size: 2.4rem;
    font-family: 'playfair', sans-serif;
    font-style: italic;
    padding-bottom: 1.75rem;
}
.styles-bold {
    font-family: 'playfair', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.about-text {
    font-family: 'ralewaylight', sans-serif;
    font-size: 1.15rem;
    line-height: 2;
}




/*----------categories----------*/
.category-img {
    display: flex;
    flex-wrap: wrap;
}
.wide {
    box-sizing: border-box;
    flex-basis: 100%;
    padding: 22.4% 0;
}
.square {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 21.7% 0;
    border: 4px solid white;
}
.mens {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/mens-category.jpg') no-repeat center center;
    background-size: cover, cover;
    border-bottom: 4px solid white;
}
.trends {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/trends-category.jpg') no-repeat center center;
    background-size: cover, cover;
    border-left: none;
}
.glasses {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/glasses-category.jpg') no-repeat center center;
    background-size: cover, cover;
    border-right: none;
}
.sale {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/sale-category.jpg') no-repeat center center;
    background-size: cover, cover;
    border-left: none;
}
.bags {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/bags-category.jpg') no-repeat center center;
    background-size: cover, cover;
    border-right: none;
}
.womens {
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url('../images/womens-category.jpg') no-repeat center center   ;
    background-size: cover, cover;
    border-top: 4px solid white;
}
.category-wide-text {
    color: white;
    font-size: 1.6rem;
    font-family: 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}
.category-square-text {
    color: white;
    font-size: 1.6rem;
    font-family: 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}

/*----------products----------*/
#products {
    padding: 4.45rem 0 4.35rem;
}
.prod-wrapper {
    width: 100%;
}
.products-header {
    font-size: 2.4rem;
    font-family: 'playfair', sans-serif;
    font-style: italic;
    padding-bottom: 4.3rem;
}
.products-bold {
    font-family: 'playfair', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.prod-list{
    padding-bottom: 1.45rem;
}
.prod-img {
    width: 310px;
    cursor: pointer;
}
.prod-type {
    font-size: 0.75rem;
    color: #969696;
    font-family: 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1.1rem;
}
.prod-name {
    font-family: 'playfair', sans-serif;
    font-size: 1.5rem;
    color: #e2574c;
    padding-bottom: 1.35rem;
    cursor: pointer;
}
.price {
    font-size: 1rem;
    color: #969696;
    font-family: 'ralewaymedium', sans-serif;
    padding-bottom: 1.7rem;
}
.add-cart {
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    height: 22px;
    width: 90px;
    outline: none;
}
.add-cart:hover {
    background-color: magenta; /*magenta cause yes*/
}
/*----------updates----------*/
.updates-banner {
    background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.1) 100% ), url(../images/wave-bkgd.jpg) no-repeat center bottom;
    margin-bottom: 0.5rem;
    height: 335px;
}
.updates-header {
    padding-top: 50px;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    font-family: 'playfair', sans-serif;
    font-style: italic;
}
.updates-bold {
    font-family: 'playfair', sans-serif;
    font-style: normal;
    font-weight: bold
}
.updates-text {
    font-family: 'ralewaylight', sans-serif;
    color: white;
    font-size: 1.1rem;
    line-height: 2;
    padding: 0 0.2rem;
}

.email-form {
    display: block;
    margin: 2.1rem auto 0;
    width: 90%;
    position: relative;
}
input[type="email"] {
    border: 0;
    border-radius: 25px;
    font-size: 1rem;
    font-family: 'ralewaylight';
    padding: 1rem 33% 1rem 6%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #e2574c;
    color: white;
    font-size: 1rem;
    font-family: 'ralewaymedium';
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.7rem 1.7rem;
    right: 0.3rem;
    top: 0.3rem;
    position: absolute;
    outline: 0;
}
input:focus {
    outline:0;
    box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}
button:hover {
    background-color: #b64036;
}

/*----------footer----------*/
.footer {
    background-color: #242424;
    color: white;
    padding: 4.5rem 0;
}
.footer-text {
    line-height: 1.5;
    font-family: 'playfair', sans-serif;
    font-size: 1rem;
    margin-bottom: 2.15rem;
}
.copyright {
    padding-bottom: 0.85rem;
}
.contact {
    padding-bottom: 1rem;
}
.email {
    color: white;
}
.email:hover{
    color: #b64036;
}
.address {
    color: #969696;
}
.social-media {
    font-size: 1rem;
}
.social-media li {
    display: inline-block;
}
i {
    color: white;
    padding: 0 0.5rem;
    cursor: pointer;
}
i:hover {
    color: #b64036;
}
.icon-text {
    display: none;
    font-family: 'ralewaylight', sans-serif;
}
.fa {
    padding: 0 0.7rem;
}



/*----------Breakpoints----------*/
@media screen and (min-width: 600px){
    html {
        font-size: 16px;
    }
    /*----------Breakpoint nav bar----------*/
    .site-header {
        justify-content: flex-start; 
    }
    .logo {
        width: 127px;
    }
    .logo-wrap {
        flex-basis: 20%;
        order: 1;
    }
    .cart {
        width: 50px;
    }
    .cart-wrap {
        flex-basis: 20%;
        order: 3;
    }
    .navbar {
        order: 2;
        font-size: 0.9rem;
        border: none;
        margin: 0;
        align-self: center;
    }
    .navbar li {
        margin: 0 7px;
    }
    /*----------Breakpoint banner----------*/
    .banner {
        margin-top: 81px;
    }
    .hero-banner {
        background: linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),url(../images/banner-girl.png) no-repeat center 59px, url(../images/flower-bkgd.jpg) repeat-x center bottom;
        background-size: cover, 151px auto, cover;
        height: 399px;
        position: relative;
        }
    .new-collection {
        padding-top: 155px;
    }
    .ss-season {
        font-size: 3rem;
        padding-bottom: 152px;
    }
    /*----------Breakpoint about-----------*/
    .about {
        margin-bottom: 65px; 
    }
    .about-header {
        font-size: 2.4rem;
        padding-bottom: 24px;
    }
    .about-p {
        font-size: 1.2rem;    
        line-height: 1.9;
        padding: 0 12px 63px 12px;
    }
    /*----------categories----------*/
    .wide {
        border: 4px solid white;
        flex-basis: 50%;
        padding: 10.2% 0;
    }
    .square {
        flex-basis: 25%;
        padding: 9.7% 0;
    }
    .mens {
        border-left: none;
    }
    .trends {
        border-left: 4px solid white;
    }
    .bags {
        border-right: 4px solid white;
    }
    .womens {
        border-right: none;
    }

    /*----------Breakpoint products----------*/
    .products {
        padding-bottom: 61px;
    }
    .products-header {
        font-size: 2.4rem;
        padding-bottom: 70px;
    }
    .prod-wrapper {
        width: 50%;
    }
    .prod-img {
        width: 80%;
    }
    .prod-type {
        font-size: 0.77rem;
        padding-bottom: 18px;
    }
    .prod-name {
        font-size: 1.5rem;
        padding: 0 10% 23px;
    }
    .price {
        font-size: 1rem;
        padding-bottom: 25px;
    }
    .prod-list {
        padding: 0;
    } 
    /*----------Breakpoint upadtes----------*/
    .updates-banner {
        background-size: auto, 1440px auto;
        height: 378px;
    }
    .updates-header {
        font-size: 2.4rem;
        padding-top: 65px;
    }
    .updates-text {
        font-size: 1.2rem;
        line-height: 1.9;
        padding: 0 1.5px 32.5px 1.5px;
    }
    .email-form {
        padding-bottom: 62px;
        margin: 0 5% 0 5%;
    }
    input[type="email"] {
        width: 75%;
    }
    button[type="submit"] {
        right: 13%;
    }
    /*----------Breakpoint footer----------*/
    .footer {
        height: 150px;
        padding-top: 66px;
        display: flex;
        justify-content: space-between;
    }
    .footer-text {
        text-align: left;
        padding-left: 13px;
    }
    .copyright {
        padding-bottom: 13px;
    }
    .contact {
        padding-bottom: 15px;
    }
    .social-media {
        text-align: left;
        font-size: 1.05rem;
        line-height: 1.9;
        margin-right: 32px;
    }
    .social-media li {
        display: block;
    }
    .icon-text {
        display: inline;
    }
    i {
        width: 20px;
    }
    .social-media a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color:#b64036;
    }
    .icon-text {
        visibility: visible;
    }
}

@media screen and (min-width: 1240px) {
    /*----------breakpoint nav----------*/
    .logo {
        width: 165px;
    }
    .cart {
        width: 65px;
    }
    /*----------breakpoint banner----------*/
    .hero-banner {
        background-size: cover, 252px auto, contain;
        height: 549px;
    }
    .new-collection {
        padding-top: 220px;
        padding-bottom: 32px;
    }
    .ss-season {
        font-size: 4rem;
    }
    /*----------about----------*/
    .about-header {
        width: 720px;
        margin: 0 auto;
    }
    .about-p {
        width: 720px;
        margin: 0 auto;
    }
    /*----------breakpoint products----------*/
    .products {
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom: 16px;
    }
    .products ul li {
        width: 25%;
        
    }
    .prod-img {
        width: 80%;
        padding: 0;
        max-width: none;
    }
    .updates-header {
        width: 720px;
        margin: 0 auto;
    }
    .updates-text {
        width: 720px;
        margin: 0 auto;
    }
    .email-form {
        width: 45%;
        margin: 0 12% 0 28%;
    }
    button[type="submit"] {
        right: 8%;
    }
/*-----------breakpoint footer----------*/
    .social-media {
        margin-right: 80px;
    }
}