#about {
    padding: 4.1rem 0.9rem;
    @include desktop {
        padding: 3.7rem 0;
    }
    h2 {
        font-size: 2.4rem;
        font-family: 'playfair', sans-serif;
        font-style: italic;
        padding-bottom: 1.75rem;
        @include tablet {
            font-size: 2.4rem;
            padding-bottom: 1.5rem;
        }
        span {
            font-family: 'playfair', sans-serif;
            font-style: normal;
            font-weight: bold;
        }
    }
    p {
        font-family: 'raleway', sans-serif;
        font-weight: 300;
        font-size: 1.15rem;
        line-height: 2;
        @include tablet {
            max-width: 720px;
            margin: 0 auto;
        }
    }
}